---

import data from '../data/site.json';


---

 
<div class="max-w-7xl mx-auto mt-10 px-6">

  <div class="relative z-10"></div>

  <div class="group relative overflow-hidden

  

            bg-gradient-to-br from-slate-800 via-slate-900 to-black


            hover:border-slate-500

            hover:-translate-y-1

            transition-all duration-300

            rounded-3xl p-8 shadow-xl">

        <!--border border-slate-700/50-->


              <!-- brillo -->
<div class="absolute inset-0 -translate-x-full
            bg-gradient-to-r from-transparent via-white/10 to-transparent
            group-hover:translate-x-full
            transition-transform duration-1000">
</div>

    <div class="flex items-start justify-between gap-6 flex-wrap">
      <div class="text-5xl font-bold text-white">
          {data.basics.name}
      </div>

      <div>
        <h2 class="text-2xl font-bold text-white">
          {data.basics.label}
        </h2>

        <a
          href="https://www.duoc.cl/"
          target="_blank"
          class="text-blue-400 hover:text-blue-300 transition"
        >
          Instituto Profesional DUOC UC
        </a>
      </div>

      <div class="text-sm text-slate-400">
        <p>2013 - 2019</p>
      </div>

    </div>

    <div class="mt-6">
      <p class="text-slate-300 leading-relaxed">
        Formación orientada al desarrollo de software, bases de datos,
        arquitectura web y tecnologías modernas.
      </p>
    </div>

     {data.education.map((educations, index) =>(
          <ul key={index} class="text-white">
            <li>{educations.area}</li>
           
          </ul>

         

        ))}

  </div>


</div>
</div>




   









   

   
